<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.secure.android.common.encrypt"
    android:versionCode="10105302"
    android:versionName="1.1.5.302" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="28" />

</manifest>